@model AppFinanzas.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contrasena)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.Tansacciones)
        </dd>
    </dl>
</div>
<div>
    <h4>Transacciones de @Model.Nombre</h4>
    @if (Model.Tansacciones.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transaccione in Model.Tansacciones)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => transaccione.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaccione.Monto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => transaccione.Fecha)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
